<div ng-controller="MainCtrl">
    <div class="container-fluid">

        <div class="row-fluid">

            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-info"></i></span>
                    <h5>快壶中奖查询</h5>
                    <div class="actions">
                    </div>
                </div>

                <!--<div class="widget-content">-->
                    <!--<form name="queryForm">-->
                        <!--<table class="table table-bordered table-striped m_top6">-->
                            <!--<tr ui-layout-col="">-->
                                <!--<td>-->
                                    <!--<label>时间：</label>-->
                                <!--</td>-->
                                <!--<td>-->
                                    <!--<input type="text" ng-model="query.startTime"-->
                                           <!--ui-date="{dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true, showOtherMonths: true, showHour: false, showMinute: false}"-->
                                           <!--ui-valid="datetime"/>-->
                                    <!-- - -->
                                    <!--<input type="text" ng-model="query.endTime"-->
                                           <!--ui-date="{dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true, showOtherMonths: true, showHour: false, showMinute: false}"-->
                                           <!--ui-valid="datetime"/>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td colspan="6" class="al">-->
                                    <!--<button class="btn-primary" ng-click="queryLl()">查询</button>-->
                                <!--</td>-->
                            <!--</tr>-->
                        <!--</table>-->
                    <!--</form>-->
                <!--</div>-->

                <div class="widget-content">
                    <div class="row" style="font-size:20px;color:red">
                        <div class="md-col-4">
                           邮件只保留两天
                        </div>
                    </div>
                </div>

                <div class="widget-content">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th >日期</th>
                            <th >玩家ID</th>
                            <th >玩家昵称</th>
                        </tr>
                        <tr ng-repeat="one in ll">
                            <td>
                                {{one.ctime|date:"yyyy/MM/dd HH:mm:ss" }}
                            </td>
                            <td>
                                {{one.receiverId }}
                            </td>
                            <td>
                                {{one.nickname }}
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div><!-- /.row-fluid -->

    </div>
</div>