<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="300">
    <properties>
        <property name="DESK_LOG_HOME">/home/work/log/desk</property>
        <property name="DESK_FILE_NAME">desklog</property>
        <property name="ERROR_PATH">/home/work/log/platform</property>
        <property name="PAY_ERROR_PATH">/home/work/log/pay</property>
    </properties>
    <Appenders>
        <!--控制台日志-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%level] [%t] %F:%L - %msg%n" />
        </Console>

        <!--错误级别日志汇总-->
        <RollingFile name="RollingFileError" fileName="${ERROR_PATH}/error.log" filePattern="${ERROR_PATH}/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="ERROR"/>
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 GB"/>
            </Policies>
        </RollingFile>

        <!--充值错误日志-->
        <RollingFile name="PayErrorLOG" fileName="${PAY_ERROR_PATH}/error.log" filePattern="${ERROR_PATH}/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 GB"/>
            </Policies>
        </RollingFile>

        <!--桌子日志-->
        <RollingRandomAccessFile name="desklog"
                                 fileName="${DESK_LOG_HOME}/${DESK_FILE_NAME}.log"
                                 filePattern="${DESK_LOG_HOME}/$${date:yyyy-MM-dd}/${DESK_FILE_NAME}-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %F:%L - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingRandomAccessFile>
    </Appenders>

    <loggers>
        <logger name="DESKLOG" level="info" additivity="false">
            <AppenderRef ref="desklog" />
        </logger>
        <logger name="PayLOG" level="info" additivity="false">
            <AppenderRef ref="PayErrorLOG" />
        </logger>

        <logger name="com.ibatis" additivity="true" level="info">
            <AppenderRef ref="Console" />
        </logger>
        <logger name="java.sql.Connection" additivity="true" level="info">
            <AppenderRef ref="Console" />
        </logger>
        <logger name="java.sql.Statement" additivity="true" level="info">
            <AppenderRef ref="Console" />
        </logger>
        <logger name="java.sql.PreparedStatement" additivity="true" level="info">
            <AppenderRef ref="Console" />
        </logger>
        <logger name="java.sql.ResultSet" additivity="true" level="info">
            <AppenderRef ref="Console" />
        </logger>
        <logger name="com.alibaba.dubbo" additivity="true" level="error">
            <AppenderRef ref="Console" />
        </logger>

        <root level="info" includeLocation="true">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFileError" />
        </root>
    </loggers>
</Configuration>